@model List<RahatWebAppication.ViewModels.ItemModel>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="list-product-description product-description-brd margin-bottom-30">
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Content(item.Photo)" class="fancybox" onclick="makeImageFancy()">
                    <img class="img-responsive sm-margin-bottom-20" src="@Url.Content(item.Photo)" alt="">
                </a>
            </div>
            <div class="col-sm-8 product-description">
                <div class="overflow-h margin-bottom-5">
                    <ul class="list-inline overflow-h">
                        <li><h4 class="title-price"><a href="">@item.Name</a></h4></li>
                        <li><span class="gender text-uppercase" title="Category">@item.ItemCategoryName</span></li>
                        <li class="pull-right">
                            <ul class="list-inline product-ratings">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="margin-bottom-10">
                        <span class="title-price margin-right-10">Rs: @Convert.ToInt32(item.Price)</span>
                        @if (item.PreviousPrice != 0)
                        {
                            <span class="title-price line-through">Rs: @Convert.ToInt32(item.PreviousPrice)</span>
                        }
                    </div>
                    <p class="margin-bottom-20">@item.Description</p>
                    @*<ul class="list-inline add-to-wishlist margin-bottom-20">
                            <li class="wishlist-in">
                                <i class="fa fa-heart"></i>
                                <a href="#">Add to Wishlist</a>
                            </li>
                            <li class="compare-in">
                                <i class="fa fa-exchange"></i>
                                <a href="#">Add to Compare</a>
                            </li>
                        </ul>
                        <button type="button" class="btn-u btn-u-sea-shop">Add to Cart</button>*@
                </div>
            </div>
        </div>
    </div>
}