@model RahatWebAppication.ViewModels.ItemViewModel
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Filter By</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Categories
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                @foreach (var category in Model.ItemCategories)
                                {
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" id="checkbox_@category.Id" data-id="@category.Id" data-pageSize="@category.Items.Count" onchange="searchItemByCategory(@category.Id, @category.Items.Count)" />
                                            <i></i>
                                            @category.Name
                                            <small><a href="javascript:;">(@category.Items.Count)</a></small>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Items != null && Model.Items.Any())
        {
            <div class="col-md-9">
                <div class="row margin-bottom-5">
                    <div class="col-sm-4 result-category">
                        <h2>Products</h2>
                        <small class="shop-bg-red badge-results">@Model.Items.Count() Results</small>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-inline clear-both">
                            <li class="grid-list-icons">
                                <a href="javascript:;"><i class="fa fa-th-list"></i></a>
                                <a href="javascript:;"><i class="fa fa-th"></i></a>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Sort By :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Popularity <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:;">All</a></li>
                                        <li><a href="javascript:;">Best Sales</a></li>
                                        <li><a href="javascript:;">Top Last Week Sales</a></li>
                                        <li><a href="javascript:;">New Arrived</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Show :</h3>
                                <div class="btn-group">
                                    <select class="form-control" onchange="searchItemByCategory(null, this.value)">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter-results" id="displayProducts">
                    @for (int i = 0; i <= Model.Items.Count() / 3; i++)
                    {
                        <div class="row illustration-v2 margin-bottom-30">
                            @foreach (var item in Model.Items.Skip(i * 3).Take(3))
                            {
                                <div class="col-md-4">
                                    <div class="product-img product-img-brd">
                                        <a href="@Url.Content(item.Photo)" class="fancy" title="@item.Name" rel="product">
                                            <img class="full-width img-responsive" src="@Url.Content(item.Photo)" style="height: 260px">
                                        </a>
                                        <a class="product-review" href="javascript:;">@item.Name</a>
                                        @if (item.IsLatest)
                                        {
                                            <div class="shop-rgba-dark-green rgba-banner">New</div>
                                        }
                                    </div>
                                    <div class="product-description product-description-brd margin-bottom-30">
                                        <div class="overflow-h margin-bottom-5">
                                            <div class="pull-left">
                                                <h4 class="title-price"><a href="javascript:;">Price</a></h4>
                                                @if (item.PreviousPrice > 0)
                                                {
                                                    <span class="gender text-uppercase">Previous Price</span>
                                                }
                                                <span class="gender">Category</span>
                                            </div>
                                            <div class="product-price">
                                                <span class="title-price">@item.Price</span>
                                                @if (item.PreviousPrice > 0)
                                                {
                                                    <span class="title-price line-through">@item.PreviousPrice</span>
                                                }
                                                <span>@item.ItemCategoryName</span>
                                            </div>
                                        </div>
                                        <ul class="list-inline product-ratings">
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                            <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="javascript:;"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

                <div class="text-center">
                    <ul class="pagination pagination-v2">
                        <li><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="javascript:;">1</a></li>
                        <li class="active"><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        }
        @if (Model.Items == null || !Model.Items.Any())
        {
            <div class="col-md-9">
                <div class="filter-by-block col-md-12 padding-leftright30">
                    <h1>No Products found!!!</h1>
                </div>
            </div>
        }
    </div>
</div>