<div class="container">
    <br />
    <div class="heading heading-v1 margin-bottom-20">
        <h2>Our Traits</h2>
        <p>We can be differentiated by these following traits.</p>
    </div>
    <br/>
    <!--=== Product Service ===-->
    <div class="row margin-bottom-60">
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="fa fa-institution"></i>
            </div>
            <div class="product-service-in">
                <h3>Restaurant Specialist</h3>
                <p>Our aim is to provide you with all type of furniture that can be used in restaurant.</p>
                <a href="@Url.Action("About", "Home")">+Read More</a>
            </div>
        </div>
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="glyphicon glyphicon-retweet"></i>
            </div>
            <div class="product-service-in">
                <h3>Changes & Cancelations</h3>
                <p>Cancellations can be made any time prior to the shipment of your order. To make any changes we would need to cancel the original order and place a new order for the updated product(s).</p>
                <a href="@Url.Action("About", "Home")">+Read More</a>
            </div>
        </div>
        <div class="col-md-4 product-service">
            <div class="product-service-heading">
                <i class="fa fa-yelp"></i>
            </div>
            <div class="product-service-in">
                <h3>Quality work</h3>
                <p>We asure the quality of products to our customers. You can buy furniture from us with confidence..</p>
                <a href="@Url.Action("About", "Home")">+Read More</a>
            </div>
        </div>
    </div>
    
    @*<div class="row margin-bottom-60">
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="fa fa-institution"></i>
            </div>
            <div class="product-service-in">
                <h3>Quality work</h3>
                <p>We asure the quality of products to our customers. You can buy furniture from us with confidence..</p>
                <a href="@Url.Action("About", "Home")">+Read More</a>
            </div>
        </div>
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="icon-earphones-alt"></i>
            </div>
            <div class="product-service-in">
                <h3>Customer Service</h3>
                <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
                <a href="@Url.Action("About", "Home")">+Read More</a>
            </div>
        </div>
        <div class="col-md-4 product-service">
            <div class="product-service-heading">
                <i class="icon-refresh"></i>
            </div>
            <div class="product-service-in">
                <h3>Free Returns</h3>
                <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
                <a href="@Url.Action("About", "Home")">+Read More</a>
            </div>
        </div>
    </div>*@
    <!--=== End Product Service ===-->
    <br/>
    <br/>
</div>