@model RahatWebAppication.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="log-reg-v3 content-md">
    <div class="container">
        <div class="row">
            <div class="col-md-7 md-margin-bottom-50">
                <h2 class="welcome-title">Welcome to Luqman Traders</h2>
                <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>
                <div class="info-block-v2">
                    <i class="icon icon-layers"></i>
                    <div class="info-block-in">
                        <h3>Pellentesque vulputate</h3>
                        <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
                    </div>
                </div>
                <div class="info-block-v2">
                    <i class="icon icon-settings"></i>
                    <div class="info-block-in">
                        <h3>Curabitur tincidunt</h3>
                        <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
                    </div>
                </div>
                <div class="info-block-v2">
                    <i class="icon icon-paper-plane"></i>
                    <div class="info-block-in">
                        <h3>Aenean condimentum</h3>
                        <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                @using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "log-reg-block sky-form", id = "sky-form1", enctype = "multipart/form-data", novalidate = "novalidate" }))
                {
                    <h2>Log in to your account</h2>

                    <section>
                        <label class="input login-input">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "color-red" })
                            </div>
                        </label>
                    </section>
                    <section>
                        <label class="input login-input no-border-top">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "color-red" })
                            </div>
                        </label>
                    </section>
                    <div class="row margin-bottom-5">
                        <div class="col-xs-6">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                                Remember me
                            </label>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a href="#">Forget your Password?</a>
                        </div>
                    </div>
                    <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Log in</button>

                    <div class="border-wings">
                        <span>or</span>
                    </div>

                    <div class="row columns-space-removes">
                        <div class="col-lg-6 margin-bottom-10">
                            <a href="https://www.facebook.com/LuqmanTraders1999/" target="_blank" class="a-as-button btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-facebook"></i> Visit Facebook</a>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn-u btn-u-md btn-u-tw btn-block"><i class="fa fa-twitter"></i> Twitter Log In</button>
                        </div>
                    </div>
                }
                @*<div class="margin-bottom-20"></div>
                <p class="text-center">
                    Don't have account yet? Learn more and <a href="shop-ui-register.html">Sign Up</a>
                </p>*@
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
